@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
@Form.Scripts()
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken();
    @Form.HiddenID(Model.ID)
    <fieldset>
        <legend>Production</legend>
        @Form.TextBoxRequired("Title",Model.Title)
        @Form.TextArea("Description",Model.Description)
        @Form.TextBoxNumber("Price", Model.Price)
        @Form.Submit()
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
